.foot {
  display: flex;
  flex-direction: column;

}

.orange-line{
  background-color: #f88917;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow-line {
  background: #FDCD0C;
  height: 8px;
  width: 100%;
}
.red-line {
  background-color: #fe090e;
  height: 5px;
  width: 100%;
}

.blue-line {
  background-color: #00aeef;
  height: 4px;
  width: 100%;
}
