// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "footer";
@import "login_form";

body {
  background-color: #2F2F2F;
}

.page-button{
  background-color: #00aeef;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  transition: .4s ease;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  box-shadow: 3px 3px 0px #FDCD0C;
  text-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-button:hover{
  box-shadow: 4px 4px 0px #FDCD0C;
  transform: scale(1.003);
  background-color: #fe090e;
}

.movie-title{
  color: #FDCD0C;
  font-weight: bold;
}

.movie-action-buttons {
  margin-top: 30px;
}

.margin-for-movie{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3em;
  padding-bottom: 3em;
}

.page-link{
  color: #FFFFFF;
  transition: .3s ease;
}

.page-link:hover{
  color: #FDCD0C;
}
