.navbar-lewagon {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.orange-line{
  background-color: #f88917;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yellow-line {
  background: #FDCD0C;
  height: 8px;
  width: 100%;
}
.red-line {
  background-color: #fe090e;
  height: 5px;
  width: 100%;
}

.blue-line {
  background-color: #00aeef;
  height: 4px;
  width: 100%;
}

.navbar-button{
  background-color: #00aeef;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  transition: .4s ease;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  box-shadow: 3px 3px 0px #2F2F2F;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-button:hover{
  box-shadow: 4px 4px 0px #2F2F2F;
  transform: scale(1.003);
}

.navbar-button:hover{
  background-color: #fe090e;
}

.form-text-field{
  background-color: #FFFFFF;
  border: none;
  border-radius: 0px;
  color: #2F2F2F;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-text-field:focus{
  outline:none;
}

.navbar-form:hover{
  box-shadow: 4px 4px 0px #2F2F2F;
  transform: scale(1.003);
}

.navbar-form{
  gap: 0px;
  display: flex !important;
  box-shadow: 3px 3px 0px #2F2F2F;
  transition: .4s ease;
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.custom-dropdown{
  border: none;
  border-radius: 0px;
  background-color: #FCCD0D;
  box-shadow: 5px 5px 0px #00aeef;
  margin-top: 19px !important;
}

.custom-dropdown .navbar-button{
  margin-right: 25px;
  margin-left: 25px;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}
