.navbar-lewagon {
  display: flex;
  flex-direction: column;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.orange-line{
  background-color: #f88917;
  width: 100%;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yellow-line {
  background: #FDCD0C;
  height: 8px;
  width: 100%;
}
.red-line {
  background-color: #fe090e;
  height: 5px;
  width: 100%;
}

.blue-line {
  background-color: #00aeef;
  height: 4px;
  width: 100%;
}
