<footer class="foot" >
  <div class="blue-line"></div>
  <div class="red-line"></div>
  <div class="yellow-line"></div>
  <div class="orange-line-footer">
    <div class="copyright-footer-container">
      <p><em>Copyright © 2024 Vidéo Passé, Inc.</em></p>
    </div>
    <div class="links-footer-container">
      <p>À propos</p>
      <p>Nous contacter</p>
      <p>Conditions d'utilisation</p>
      <p>Politique de confidentialité</p>
    </div>
  </div>
</footer>
